body{
    width: 1000px;
    background-color: grey;
    margin: auto;
}
nav .logo{
    width : 100px;
    border:1px solid red;
}
nav .nav_links{
    display: inline-block;
    border:1px solid red;
}
nav ul .list{
    display: inline-block;
    border:1px solid red;
}