body{
    width:1000px;
    margin: auto;
    /* border:1px solid red; */
}
.block_one{

}
nav{
    
}
nav .logo{
    height: 60px;
    /* border:1px solid red; */
    margin: 0;
    vertical-align: 0;
}
nav .nav_links{
    display: inline-block;
    /* border:1px solid red; */
    margin: 0;
    vertical-align: top;
    margin-left: 100px;
}

nav ul .list{
    display: inline-block;
    list-style: none;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}