body{
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    /* border:1px solid red; */
}

.block_one{
    background-color: antiquewhite;
    padding-bottom: 10px;
}
nav{
    width: 1200px;
    margin: auto;
}

nav .logo{
    height: 60px;
    /* border:1px solid red; */
    margin: 0;
    vertical-align: 0;
    padding-left: 10px;
}
nav .nav_links{
    display: inline-block;
    /* border:1px solid red; */
    margin: 0;
    vertical-align: top;
    margin-left: 100px;
    padding-left: 570px;
}

nav ul .list{
    display: inline-block;
    list-style: none;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
   
}
.block_two{
    background-image: url("./images/backs.jpg");
    background-repeat: none;
    background-size: 100%;
    text-align: center;
    height: 500px;
    color: white;
    padding-top: 20px;
}
.block_two div h2{
    font-size: 40px;
    padding-top: 150px;
}
.block_two .button{
    padding: 20px;
}
.block_two div button{
    padding: 10px 30px;
    border-radius: 5px;
    border: 0px;
}

section{
    text-align: center;
    background-color: gray;
    
}
section .block{
    width: 1200px;
    background-color: white;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
section h2{
    text-align: center;
    padding: 20px;
}
section .photo{
    display: inline-block;
    text-align: center;
    padding: 20px;
    
}
section img{
    width: 200px;
    height: 200px;
    display: inline-block;
}
section button{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: antiquewhite;
    
}
section .button{
    padding-bottom: 30px;
}
section button a{
    color: black;
    text-decoration: none;
}
.block_three{
    height: 500px;
    background-image:url("./images/back2.jpg");
    background-repeat: none;
    background-size: 100%;
    color: white;
    text-align:center;
    padding-top: 10px;
}
.block_three div h2{
    font-size: 40px;
    padding-top : 150px;
}
.block_three .button{
    padding: 30px;
}
.block_three div button{
    padding: 10px 30px;
    border-radius: 5px;
    border: 0px;
}
.block_four{
    text-align: center;
    height: 500px;
    margin: auto;
    background-color: gray;

}
.block_four .box{
    padding-top: 20px;
    padding-bottom: 60px;
    width: 1200px;
    background-color: white;
    margin: auto;
}
.block_four h2{
    padding-top: 30px;
}
.block_four .gallery{
    display: inline-block;
    text-align: center;
    padding: 20px;
}
.block_four .gallery img{
    width: 200px;
    height: 200px;
    padding-right: 30px;
    display: inline-block;
}
.block_four p{
    padding-top: 30px;
  
}
footer{
    padding-top: 10px; 
    height: 60px;
    background-color: antiquewhite;
    /* text-align: center; */
}
footer .box{
    width: 1200px;
    margin: auto;
}
footer img{
    height: 60px;
    margin: 0;
    vertical-align: 0;
    padding-left: 10px;
    padding-right: 300px;
}

footer ul{
    display: inline-block;
    margin: 0px;
    padding-left: 470px;
    vertical-align: top; 
  
}

footer ul li{
    display: inline-block;
    list-style: none;
    padding: 20px;
    align-items: flex-end;
    
}
footer ul li a{
    font-size: 10pt;
}